<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form action='/users' method='POST'>
        <label>Email</label>
        <input type='text' name='email' />
        <label>First Name</label>
        <input type="text" name='firstName' />
        <label>Last Name</label>
        <input type="text" name='lastName' />
        <label>Date of Birth</label>
        <input type="date" name='dob' />
        <button type='submit'>LETS GO</button>
    </form>
</body>

</html>